.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}
@media (min-width: 550px) {
  .container {
    width: 80%; }
}

html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; 
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }
h3 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem;
}
@media (min-width: 550px) {
  h3 { font-size: 3.6rem;
  }
}

p {
  margin-top: 0; }

a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }

.button,
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
.button:focus,
button:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

button,
.button {
  margin-bottom: 1rem;
}
table,p {
  margin-bottom: 2.5rem;
}

.u-full-width {
  width: 100%;
  box-sizing: border-box;
 }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
